<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Variable and Condition</title>
</head>
<body>
<h4 th:text="${greeting}"></h4>
<p th:text="${message}"></p>
<div th:if="${grade}>=60">
    You passed exam!
    <div th:switch="${GPA}">You are
        <span th:case="A">Excelent</span>
        <span th:case="B">Good</span>
        <span th:case="C">OK</span>
        <span th:case="D">Need improvment</span>
    </div>
</div>
<div th:if="${grade}<60">
    You failed exam!
</div>

</body>
</html>